<div class="merchantbox">
    <form (submit)="merchantPay()">
        <p class="logo"><img src="{{merchant.image}}" class="img-responsive"></p>
        <h5 class="text-center">{{merchant.name}}</h5>
        <p>电话：{{merchant.phone}}</p>
        <p>地址：{{merchant.address}}</p>
        <p>
            <span class="clabel">消费金额：</span>
            <span><input type="bumber" name="amount" value="" [(ngModel)]="amount" class="form-control" style="width: 150px;"></span>
            <span class="clabel">&nbsp;&nbsp;元</span>
        </p>
        <p><button type="submit" class="btn btn-success btn-md btn-block">微信买单</button></p>
    </form>
</div>