<div class="profitbox">
    <ul class="list-unstyled">
        <li>
            <p class="dt">2016年9月</p>
            <p>
                <span class="amount">分成金额：<h5>2500</h5>元</span>
                <span class="opbtn">
                    <button type="button" class="btn btn-success btn-sm">提现</button>
                </span>
            </p>
        </li>
        <li>
            <p class="dt">2016年9月</p>
            <p>
                <span class="amount">分成金额：<h5>2500</h5>元</span>
                <span class="opbtn">
                    <button type="button" class="btn btn-secondary btn-sm disabled" disabled>已提现</button>
                </span>
            </p>
        </li>
    </ul>
</div>