:host {
  display: block;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  margin-bottom: 0;
  margin-top: 0.83em;
}

.userbox {
  margin: 0 -15px;

  .basicinfo {
    text-align: center;
    padding: 15px 0 15px 0;
    background: #F1F1F1;
    
    img {
      width: 35%;
      height: auto;
    }
  }

  .listinfo {
    p {
      padding: 12px 25px;
      border-top: 1px solid #999;
      margin: 0;

      a.plink {
        color: #373a3c;
        display: block;
      }

      span {
          display: inline-block;
      }

      span.clabel {
          width: 135px;      
      }

      span.cvalue {
        h5 {
          display: inline-block;
          margin-bottom: 0;
          margin-right: 3px;
          font-size: 1.5em;
        }
      }

      span.carrow {
        float: right;
      }
    }

    p:last-child {
      border-bottom: 1px solid #999;
    }
  }

  p.exit {
    width: 75%;
    margin: 30px auto 10px auto;
  }
}

.rankingbox {
  display: block;
  padding: 10px 0;

  h5.title {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
  }

  .ranking {
    width: 100%;
    text-align: center;
    font-size: 14px;

    thead {
      tr {
        th {
          padding: 10px;
          font-size: 14px;
          text-align: center;
          color: #AAA;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 5px 10px;
          font-size: 14px;
          text-align: center;
        }
      }
    }
  }
}

.profitbox {
  li {
    border-radius: 5px;
    background: #F1F1F1;
    padding: 10px;
    padding-bottom: 25px;
    margin-bottom: 15px;

    p {
      margin-left: 20px;

      span.amount {
        display: inline-block;

        h5 {
          display: inline-block;
          font-size: 1.5em;
          margin-right: 3px;
          color: #ff5722;
        }
      }
      span.opbtn {
        display: inline-block;
        float: right;

        button {
          width: 75px;
          padding: 5px 10px;
          height: 35px;
          line-height: 25px;
        }
      }
    }

    p.dt {
      color: #AAA;
      font-size: 1em;
      margin-top: 0;
      margin-left: 0;
    }
  }
}