<div class="userbox">
    <div class="basicinfo">
        <img src="../../assets/images/user_avatar_default.jpg" class="img-responsive center-block">
        <p>六味地黄丸</p>
    </div>
    <div class="listinfo">
        <p>
            <span class="clabel">下级人数：</span>
            <span class="cvalue"><b>25</b></span>
        </p>
        <p>
            <span class="clabel">当月个人消费：</span>
            <span class="cvalue">
                <h5><font color="#008000">10</font></h5>次&nbsp;&nbsp;&nbsp;
                <h5><font color="#FF0000">2500</font></h5>元
            </span>
        </p>
    </div>
    <p class="exit">
        <button type="button" class="btn btn-danger btn-sm btn-block">退出</button>
    </p>
</div>