<div class="userbox">
    <div class="basicinfo">
        <img src="{{user.avatar}}" class="img-responsive center-block">
        <p>{{user.name}}</p>
    </div>
    <div class="listinfo">
        <p>
            <span class="clabel">推广人数：</span>
            <span class="cvalue"><b>{{user.promotion_count}}</b></span>
        </p>
        <p>
            <span class="clabel">当月消费总额：</span>
            <span class="cvalue">
                <h5><font color="#008000">{{user.order_count}}</font></h5> 次&nbsp;&nbsp;&nbsp;
                <h5><font color="#ff5722">{{user.amount}}</font></h5> 元
            </span>
        </p>
        <p>
            <span class="clabel">当月业绩总额：</span>
            <span class="cvalue">
                <h5><font color="#008000">{{user.promotion_order_count}}</font></h5> 次&nbsp;&nbsp;&nbsp;
                <h5><font color="#ff5722">{{user.promotion_amount}}</font></h5> 元
            </span>
        </p>
        <p>
            <a routerLink="javascript:;" class="plink" (click)="profit()">
                <span class="clabel">提成管理</span>
                <span class="carrow">&gt;</span>
            </a>
        </p>
        <p>
            <a href="javascript:;" class="plink" (click)="qrcode()">
                <span class="clabel">二维码</span>
                <span class="carrow">&gt;</span>
            </a>
        </p>
    </div>
    <!--<p class="exit">
        <button type="button" class="btn btn-danger btn-sm btn-block">退出</button>
    </p>-->
</div>