<nav class="navbar row">
  <div class="col-xs-4 text-center">
    <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">主页</a>
  </div>
  <div class="col-xs-4">
    <a [routerLink]="['/user/ranking']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">排行榜</a>
  </div>
  <div class="col-xs-4">
    <a [routerLink]="['/user']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">个人中心</a>
  </div>
</nav>