:host {
  display: block;
}

.merchantlistbox {
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 50px;

  ul {
    overflow-x: hidden;
    overflow-y: auto;

    li.merchant {
      padding: 10px;
      margin: 5px -15px;
      background: #F3F3F3;

      a {
        color: #333333;
      }

      h5 {
        color: #000;
        font-weight: 700;
        margin-bottom: 5px;
        font-size: 1em;
      }

      p {
        color: #5E5E5E;
        font-size: 13px;
        margin-top: 5px;
        margin-bottom: 5px;
        display: block;
        overflow: hidden;

        a.pos {
          display: block;
          float: right;
          color: #106cc8;
        }
      }

      img.logo {
        width: 100%;
        margin-bottom: 0px;
      }
    }
  }
}

.bdmap {
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
}