:host {
  display: block;
}

.merchantlistbox {
  ul {
    li.merchant {
      padding: 10px 0 5px 0;
      margin: 0 -15px;

      a {
        color: #333333;
      }

      h5 {
        font-weight: 700;
        margin-bottom: 5px;
      }

      p {
        font-size: 13px;
        margin-top: 5px;
        margin-bottom: 5px;
        display: block;
        overflow: hidden;

        a.pos {
          display: block;
          float: right;
          color: #106cc8;
        }
      }

      img.logo {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
}

.merchantbox {
  display: block;
  padding: 0 30px;
  padding-top: 30px;

  .logo {
    text-align: center;

    img {
      width: 75%;
    }
  }

  p {
    display: block;
    overflow: hidden;
  }

  span {
    display: block;
    float: left;
    overflow: hidden;
  }

  span.clabel {
    margin-top: 10px;
  }

  button {
    margin-top: 30px;
  }
}